<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Travel</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a class="right-top-bar" href="index.html">Home</a>
            <a class="left-top-bar" href="contact.html">Contact</a>
			<a class="left-top-bar" href="aboutme.html">About me</a>
		</header>
        <div class="image-size clearfix">
            <div class="photo">
                <img src="../image/travel1.jpg"  />
                <p>
                    Hi, this is my first travel.
                </p>
            </div>
            <div class="photo">
                <img src="../image/travel2.jpg" />
                <p>
                    Hi, this is secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj
                </p>
            </div>
            <div class="photo">
                <img src="../image/travel2.jpg" />
                <p>
                    Hi, this is secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj
                </p>
            </div>
            <div class="photo">
                <img src="../image/travel2.jpg" />
                <p>
                    Hi, this is secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj secondakfljlskjflafdlaksjglksajlgkjdlskajglkajdklfjasldkfjalkdjflkasdjflkasjdflkasjflksjflkdjalkjflksjlkfjdlakjflkajlkasj
                </p>
            </div>
        </div>
        <nav id="top-nav">
            <ul>
                <li>
                    <a href="views/ballet.html" class="nav-icon ballet-icon">
                        <div class="nav-icon-hover">
                            <img src="image/simple-travel.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="views/camera.html" class="nav-icon camera-icon"></a>
                </li>
                <li>
                    <a href="views/cloth.html" class="nav-icon cloth-icon"></a>
                <li>
                    <a href="views/coffee.html" class="nav-icon coffee-icon"></a>
                <li>
                    <a href="views/cook.html" class="nav-icon cook-icon"></a>
                </li>
                <li>
                    <a href="views/cosmetic.html" class="nav-icon cosmetic-icon"></a>
                </li>
                <li>
                    <a href="views/dish.html" class="nav-icon dish-icon"></a>
                </li>
                <li>
                    <a href="views/glasses.html" class="nav-icon glasses-icon"></a>
                </li>
                <li>
                    <a href="views/iphone.html" class="nav-icon iphone-icon"></a>
                </li>
                <li>
                    <a href="views/magnetic.html" class="nav-icon magnetic-icon"></a>
                </li>
                <li>
                    <a href="views/photos.html" class="nav-icon photos-icon"></a>
                </li>
                <li>
                    <a href="views/ring.html" class="nav-icon ring-icon"></a>
                </li>
                <li>
                    <a href="views/shoes.html" class="nav-icon shoes-icon"></a>
                </li>
                <li>
                    <a href="views/travel.html" class="nav-icon travel-icon"></a>
                </li>
                <li>
                    <a href="views/wine.html" class="nav-icon wine-icon"></a>
                </li>
                <li>
                    <a href="views/workout.html" class="nav-icon workout-icon"></a>
                </li>
                <li>
                    <a href="views/media.html" class="nav-icon media-icon"></a>
                </li>
                <li>
                    <a href="views/laptop.html" class="nav-icon laptop-icon"></a>
                </li>
                <li>
                    <a href="views/bag.html" class="nav-icon bag-icon"></a>
                </li>
                <li>
                    <a href="views/fruits.html" class="nav-icon fruits-icon"></a>
                </li>
            </ul>
        </nav>
        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
                <div id="contact-icons">
                    <a href="https://www.facebook.com/Jeeyaholic" class="social_contact">facebook</a>
                    <a href="https://www.instagram.com/_elainekim" class="social_contact">Instagram</a>
                    <a href="http://www.google.com"
                    class="social_contact">Google+</a>
        </footer>
    </main>
</body>
</html>
