<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Travel</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a class="right-top-bar" href="../index.html">Home</a>
            <a class="left-top-bar" href="views/contact.html">Contact</a>
			<a class="left-top-bar" href="views/aboutme.html">About me</a>
		</header>

        <div class="container">
            <h1>Why I <strong><i>love</i></strong> ring?</h1>
                    <img class="image" src="../image/ring.jpg" width="400px" height="400px"  />
                    <p>
                        The first photo is me and my boyfriend, we made our first ring in Ulsan, Korea. The second ring is our second ring to celebrate our 1 year anniversary.
                    </p>
        </div>
    <div class="fixed-center">
    <div class="bottom">
        <nav id="top-nav">
            <ul>
                <li>
                    <a href="ballet.html" class="nav-icon ballet-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-ballet.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="snowboard.html" class="nav-icon snowboard-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-snowboarding.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="cloth.html" class="nav-icon cloth-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-cloth.jpg" />
                        </div>
                    </a>
                <li>
                    <a href="coffee.html" class="nav-icon coffee-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-coffee.jpg" />
                        </div>
                    </a>
                <li>
                    <a href="cook.html" class="nav-icon cook-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-cook.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="cosmetic.html" class="nav-icon cosmetic-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-cosmetic.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="dish.html" class="nav-icon dish-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-dish.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="glasses.html" class="nav-icon glasses-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-glasses.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="iphone.html" class="nav-icon iphone-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-iphone.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="flower.html" class="nav-icon flower-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-flower.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="photos.html" class="nav-icon photos-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-photo.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="ring.html" class="nav-icon ring-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-ring.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="shoes.html" class="nav-icon shoes-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-shoes.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="travel.html" class="nav-icon travel-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-travel.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="wine.html" class="nav-icon wine-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-wine.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="workout.html" class="nav-icon workout-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-workout.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="media.html" class="nav-icon media-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-media.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="laptop.html" class="nav-icon laptop-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-laptop.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="bag.html" class="nav-icon bag-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-bag.jpg" />
                        </div>
                    </a>
                </li>
                <li>
                    <a href="fruits.html" class="nav-icon fruits-icon">
                        <div class="nav-icon-hover">
                            <img src="../image/simple-fruits.jpg" />
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
                <div id="contact-icons">
                    <a href="https://www.facebook.com/Jeeyaholic" class="social_contact">facebook</a>
                    <a href="https://www.instagram.com/_elainekim" class="social_contact">Instagram</a>
                    <a href="http://www.google.com"
                    class="social_contact">Google+</a>
        </footer>
    </div>
    </div>
    </main>
</body>
</html>
