<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My survival Kit</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a class="right-top-bar" href="../index.html">Home</a>
            <a class="left-top-bar" href="#gotobottom">Contact</a>
			<a class="left-top-bar" href="aboutme.html">About me</a>
		</header>
        <body class="body">
            <div class="introduction-container">
                <div class="img">
                    <img src="../image/elaine.jpg" alt="elaine" title="elaine" width="40%">
                </div>

                <div class="introduction">
                    <p>Hi, guys. My name is <span class="name">EunJee Kim</span> just call me <span class="name">Elaine</span>.</p>
                    <p>I am 22 years old, and I used to live in Ulsan,Korea until I was 19.</p>
                    <p>My major is Web Design &amp; New Media.</p>
                    <p> My maajor was Fineart, but now I'm learning Web design </p>
                    <p>By learning coding skills in this class, I became more interested in Web design.</p>
                    <p>So, I want to introduce some of survival kit that I use everyday.</p>
                </div>
            </div>
            <a name="gotobottom">
            <footer id="aboutme-footer">
                <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
                    <div id="contact-icons">
                        <a href="https://www.facebook.com/Jeeyaholic" class="social_contact">facebook</a>
                        <a href="https://www.instagram.com/_elainekim" class="social_contact">Instagram</a>
                        <a href="mailto:kimej940217@gamil.com"
                        class="social_contact">Gmail+</a>
                    </div>
            </footer>
        </a>
        </main>
        </body>
</html>
