#my-survival-kit {
    background: url('../image/background.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

#top-nav li a:hover {
    width: 50px;
}

#top-nav li {
    display: inline-block;
}

#top-nav {
    text-align: center;
    padding-top: 100px;
    position: relative;
}

#top-bar {
    background-color:lightgray;
    padding: 30px 0px;
    font-family: 'Slabo 27px', serif;
}

#top-bar a {
    text-decoration: none;
    color: #1f1f2e;
    padding-top: 10px;
    padding-bottom: 10px;
}

#top-bar a:hover {
    background-color: white;
    font-weight: bold;
}

.left-top-bar {
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    top: -11px;
}

.right-top-bar {
    padding-left: 30px;
    padding-right: 30px;
}

#my-survival-kit-text{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 180px;
    text-decoration: overline;
}

#main-footer {
    font-family: 'Slabo 27px', serif;
    background-color:lightgray;
    padding: 20px;
    text-align:center;
    margin-top:20px;
}

#contact-icons a{
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    font-size: 13px;
    background: #000;
    border-radius: 3px;
    margin-left: 8px;
    margin-top: -19px;
}

#contact-icons :hover {
    color: #000;
    background: #fff;
}

#top-nav .nav-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.nav-icon-hover {
    position: absolute;
    top: -450px;
    left: calc(50% - 150px);
    display: none;
}

.nav-icon-hover img {
    width:300px;
    height:400px;
}

#top-nav .nav-icon:hover .nav-icon-hover {
    display: block;
}

#top-nav .ballet-icon {
    background-image: url('../icons/ballet.png');
}

#top-nav .ballet-icon:hover {
    background-image: url('../icons/ballet-color.png');
}

#top-nav .camera-icon {
    background-image: url('../icons/camera.png');
}

#top-nav .camera-icon:hover {
    background-image: url('../icons/camera-color.png');
}

#top-nav .cloth-icon {
    background-image: url('../icons/cloth.png');
}

#top-nav .cloth-icon:hover {
    background-image: url('../icons/cloth-color.png');
}

#top-nav .coffee-icon {
    background-image: url('../icons/coffee.png');
}

#top-nav .coffee-icon:hover {
    background-image: url('../icons/coffee-color.png');
}

#top-nav .camera-icon {
    background-image: url('../icons/camera.png');
}

#top-nav .camera-icon:hover {
    background-image: url('../icons/camera-color.png');
}

#top-nav .cook-icon {
    background-image: url('../icons/cook.png');
}

#top-nav .cook-icon:hover {
    background-image: url('../icons/cook-color.png');
}

#top-nav .cosmetic-icon {
    background-image: url('../icons/cosmetic.png');
}

#top-nav .cosmetic-icon:hover {
    background-image: url('../icons/cosmetic-color.png');
}

#top-nav .dish-icon {
    background-image: url('../icons/dish.png');
}

#top-nav .dish-icon:hover {
    background-image: url('../icons/dishcolor.png');
}

#top-nav .glasses-icon {
    background-image: url('../icons/glasses.png');
}

#top-nav .glasses-icon:hover {
    background-image: url('../icons/glasses-color.png');
}

#top-nav .iphone-icon {
    background-image: url('../icons/iphone.png');
}

#top-nav .iphone-icon:hover {
    background-image: url('../icons/iphone-color.png');
}

#top-nav .magnetic-icon {
    background-image: url('../icons/magnetic.png');
}

#top-nav .magnetic-icon:hover {
    background-image: url('../icons/magnetic-color.png');
}

#top-nav .photos-icon {
    background-image: url('../icons/photos.png');
}

#top-nav .photos-icon:hover {
    background-image: url('../icons/photos-color.png');
}

#top-nav .ring-icon {
    background-image: url('../icons/ring.png');
}

#top-nav .ring-icon:hover {
    background-image: url('../icons/ring-color.png');
}

#top-nav .shoes-icon {
    background-image: url('../icons/shoes.png');
}

#top-nav .shoes-icon:hover {
    background-image: url('../icons/shoes-color.png');
}

#top-nav .travel-icon {
    background-image: url('../icons/travel.png');
}

#top-nav .travel-icon:hover {
    background-image: url('../icons/travel-color.png');
}

#top-nav .wine-icon {
    background-image: url('../icons/wine.png');
}

#top-nav .wine-icon:hover {
    background-image: url('../icons/wine-color.png');
}

#top-nav .workout-icon {
    background-image: url('../icons/workout.png');
}

#top-nav .workout-icon:hover {
    background-image: url('../icons/workout-color.png');
}

#top-nav .media-icon {
    background-image: url('../icons/media.png');
}

#top-nav .media-icon:hover {
    background-image: url('../icons/media-color.png');
}

#top-nav .laptop-icon {
    background-image: url('../icons/laptop.png');
}

#top-nav .laptop-icon:hover {
    background-image: url('../icons/laptop-color.png');
}

#top-nav .bag-icon {
    background-image: url('../icons/bag.png');
}

#top-nav .bag-icon:hover {
    background-image: url('../icons/bag-color.png');
}

#top-nav .fruits-icon {
    background-image: url('../icons/fruits.png');
}

#top-nav .fruits-icon:hover {
    background-image: url('../icons/fruits-color.png');
}

.image-size img {
    width: 200px;
    height: 300px;
}

.photo {
    width: 400px;
    float: left;
}

.photo img, .photo p {
    display: table-cell;
    vertical-align: middle;
}
