<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The Tile</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a href="../index.html">
                <span class="title-logo"></span>TILE
            </a>
            <nav id="top-nav">
                <ul>
                    <li>
                        <a href="howItWorks.html">How It Works</a>
                    </li>
                    <li>
                        <a href="gallery.html">Galley</a>
                    </li>
                    <li>
                        <a href="ourCompany.html">About Tile</a>
                    </li>
                    <li>
                        <a class="selected">Buy Tile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <div class="main-content-inner clearfix">
                <h1>Buy Tile</h1>
                <form id="shopping-form">
                    <div>
                        <label>How many Tile?</label>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <div>
                        <h3>Payment</h3>
                        <label><input type="radio" name="Credit Card" />Credit Card</label>
                        <label><input type="radio" name="Credit Card" />Paypal</label>
                        <label><input type="radio" name="Credit Card" />Amazon</label>
                        <label><input type="radio" name="Credit Card" />Google</label>
                    </div>
                    <div>Total: <strong>$75</strong></div>
                    <input type="submit" />
                </form>
            </div>
        </div>
        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
        </footer>
    </main>
</body>
</html>
