<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The Tile</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a href="../index.html">
                <span class="title-logo"></span>TILE
            </a>
            <nav id="top-nav">
                <ul>
                    <li>
                        <a href="howItWorks.html">How It Works</a>
                    </li>
                    <li>
                        <a class="selected">Galley</a>
                    </li>
                    <li>
                        <a href="ourCompany.html">Our Company</a>
                    </li>
                    <li>
                        <a href="buyTile.html">Buy Tile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <div class="main-content-inner clearfix">
                <h1>Gallery</h1>
                <ul class="gallery-img-list">
                    <li>
                        <img src="../images/gallery01.jpg" />
                    </li>
                    <li>
                        <img src="../images/gallery02.jpg" />
                    </li>
                    <li>
                        <img src="../images/gallery03.jpg" />
                    </li>
                    <li>
                        <img src="../images/gallery04.jpg" />
                    </li>
                    <li>
                        <img src="../images/gallery05.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
        </footer>
    </main>
</body>
</html>
