<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The Tile</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/slider.css" />
</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a href="../index.html">
                <span class="title-logo"></span>TILE
            </a>
            <nav id="top-nav">
                <ul>
                    <li>
                        <a class="selected">How It Works</a>
                    </li>
                    <li>
                        <a href="gallery.html">Galley</a>
                    </li>
                    <li>
                        <a href="ourCompany.html">About Tile</a>
                    </li>
                    <li>
                        <a href="buyTile.html">Buy Tile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <div class="main-content-inner flex-box clearfix">
                <div id="how-it-works-slider-wrapper">
                    <div id="how-it-works-slider">
                        <ul>
                            <li class="firstanimation">
                                <img src="../images/key01.jpg" />
                            </li>
                            <li class="secondanimation">
                                <img src="../images/key02.jpg" />
                            </li>
                            <li class="thirdanimation">
                                <img src="../images/key03.jpg" />
                            </li>
                            <li class="fourthanimation">
                                <img src="../images/key04.jpg" />
                            </li>
                            <li class="fifthanimation">
                                <img src="../images/key05.jpg" />
                            </li>
                        </ul>
                    </div>
                    <div class="progress-bar"></div>
                </div>
                <div class="how-it-works-right-column">
                    <h1>How It Works</h1>
                    <ol class="how-it-works-list">
                        <li>
                            <bold>App Store</bold>
                            download Tile app
                        </li>
                        <li>
                            <bold>Set up</bold>
                            in your mobile phone.
                        </li>
                        <li>
                            <bold>See where you had it</bold>
                          If you use the Bluetooth during the whole day, it tracks last time automatically.
                        </li>
                        <li>
                            <bold>Click the ring button</bold>
                            If you can’t still find, just touch the ring button on the screen. If your tile is located within the 100 foot Bluetooth range, it will played a melody until you find it. If you lose your phone, just press the any tile simply that you already set
                        </li>
                        <li>
                            <bold>Ask others to help</bold>
                            If you can’t find yet, expend the social network community for searching your items. This is rule, no one knows you’re finding for a lost item but you already know.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
        </footer>
    </main>
</body>
</html>
