<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The Tile</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a href="../index.html">
                <span class="title-logo"></span>TILE
            </a>
            <nav id="top-nav">
                <ul>
                    <li>
                        <a href="howItWorks.html">How It Works</a>
                    </li>
                    <li>
                        <a href="gallery.html">Galley</a>
                    </li>
                    <li>
                        <a class="selected">Our Company</a>
                    </li>
                    <li>
                        <a href="buyTile.html">Buy Tile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <div class="main-content-inner clearfix">
                <h1>Our Company</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus magna, hendrerit ac est a, convallis placerat nulla. Proin vestibulum arcu justo, id lobortis dolor pretium vitae. Aenean finibus, metus eget sodales eleifend, justo dolor consectetur dui, sed lobortis lorem nisi et enim. Pellentesque aliquet dictum vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras rutrum massa ac dolor porta pretium. Fusce id tempus tellus. Sed eu tincidunt neque. Ut vel leo quis libero rutrum egestas sed at lectus. In convallis nisi nec rhoncus elementum. In nec metus luctus, congue odio nec, rhoncus tortor. Ut urna enim, tristique sit amet nibh vel, cursus pulvinar lectus. Proin lacinia faucibus nisl, molestie maximus nibh consequat eget.
                </p>
                <p>
                    Phasellus id mauris leo. Nunc vitae purus ante. Sed at venenatis ex. Maecenas consectetur porta massa, in maximus sem efficitur in. Nunc id scelerisque velit. Aliquam ut tempus quam. Maecenas pellentesque finibus mauris, vitae facilisis turpis sollicitudin at. Proin vestibulum ultricies fermentum. Nam ultrices ex mauris, vel tincidunt felis malesuada id. Etiam scelerisque mattis diam volutpat consectetur. Donec ornare ipsum quis egestas convallis. Nunc maximus accumsan orci, sed consequat lorem volutpat porttitor.
                </p>
            </div>
        </div>
        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
        </footer>
    </main>
</body>
</html>
