<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The Tile</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <main id="main">
        <header id="top-bar">
            <a href="../index.html">
                <span class="title-logo"></span>TILE
            </a>
            <nav id="top-nav">
                <ul>
                    <li>
                        <a href="howItWorks.html">How It Works</a>
                    </li>
                    <li>
                        <a href="gallery.html">Galley</a>
                    </li>
                    <li>
                        <a class="selected">About Tile</a>
                    </li>
                    <li>
                        <a href="buyTile.html">Buy Tile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            <div class="main-content-inner clearfix">
                <h1>About Tile</h1>
                <p>
                    Tile is an app that helps people never lose anything again. For me, I used to lose something before leaving home. I spent the unnecessary time because I wasted time for looking something such as house key, wallet, bag, laptop even cell phone too. The tile has tracker function by using Bluetooth that connected with phone, Bluetooth will be keep track your items.
                </p>




            </div>
        </div>

        <h2>Apply to Tile as Web Designer</h2>
<table>
          <th>
            If you great for this role.</th>
            <tr>
              <td>Are focused on user behavior and can iterate based on real-world feedback and data.</td>
            </tr>
            <tr>
              <td>
                Are driven by a passion for great visual design to deliver solutions that are creatively inspired.</td>
              </tr>
              <tr>
                <td>
                  Think in systems and see how lots of pieces can fit together.</td>
                </tr>
              </table>

        <footer id="main-footer">
            <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
        </footer>
    </main>
</body>
</html>
