/* default style */
body {
    font-family: 'Slabo 27px', serif;
}
a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}
.clearfix::before,
.clearfix::after {
    display: table;
    content: '';
}
.clearfix::after {
    clear: both;
}

/* HEADER */
#top-bar {
    width: 100%;
    background: #e5e6eb;
}

.top-bar-inner {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    padding: 16px;
    font-size: 20px;
    color: #474646;
    display: inline-block;
}

.logo a {
    color: #474646;
}

#top-nav {
    display: inline-block;
    float: right;
}

.menu li {
    padding: 18px 8px;
    display: inline-block;
}

.menu li a {
    color: #474646;
}

.menu li:hover a {
    color: #030438;
    font-weight: bold;
}

.menu li:visited a {
    color: #fff;
}

/* SECTION */

.image-wrap {
    max-width: 960px;
    margin: 40px auto;
}

.image-wrap img {
    width: 100%;
}

.image-list-wrap {
    max-width: 960px;
    margin: 32px auto;
    display: flex;
    flex-wrap: nowrap;
}

.image-list img {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #e5e6eb;
	width: 100%;
}

.footer-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 0;
}

#contact-icons {
    float: right;
}

#contact-icons a {
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    font-size: 13px;
    background: #000;
    border-radius: 3px;
    display: inline-block;
}

#contact-icons a::hover {
    color: #000;
    background: #fff;
}
