/* default */
.cf {
    zoom: 1;
}
.cf::before,
.cf::after {
    display: table;
    content: '';
}
.cf::after {
    clear: both;
}

.main-section:nth-child(2n+3) {
    background-color: #fafafa;
}

html, body {
    font-family: "Helvetica Neue";
}

h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* NAV */
.sticky-nav {
    position: fixed;
    background: white;
    width: 100%;
    height: 80px;
    padding: 2rem;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px 5px rgba(0,0,0, 0.2);
    box-sizing: border-box;
}

.main-nav-wrapper {
    display: inline;
}

.hamburger-nav {
    display: none;
}

.sticky-nav .logo {
    color: #ff8f4f;
}

/* home */
#home {
    background: url('../img/background1.jpg') no-repeat center center;
    background-size: 100%;
    height: 300px;
    color: #fff;
    margin-top: 80px;
}

#home .logo,
#home .main-nav {
    display: inline-block;
}

#home .main-nav {
    float: right;
}

#home .main-nav li {
    display: inline-block;
    margin: 0 1rem;
}

#home .main-nav li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

#home .home-content {
    text-align: center;
    position: relative;
    top: 40%;
}

.home-content > h1 {
    font-size: 2rem;
    font-weight: 800;
}

.get-started {
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.get-started:hover {
    background: #0f1d63;
    opacity: 0.6;
    cursor: pointer;
}

.main-section {
    padding: 3rem;
}

.main-section header {
    text-align: center;
    margin-bottom: 3rem;
}

/* About us */
.column-2 {
    column-count: 2;
}

/* Slider */
.about-us-slider-wrapper {
    margin-top: 3rem;
}

.about-us-slider img {
    width: 250px;
    height: 250px;
}

.about-us-slider .flex-control-nav {
    display: none;
}

.about-us-slider-cover {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.flex-direction-nav li {
    position: absolute;
    top: 50%;
    padding: 1rem;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
}

.flex-direction-nav > li:hover {
    background-color: #ff8f4f;
    cursor: pointer;
}

.flex-prev {
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    padding: 5px;
}

.flex-next {
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    padding: 5px;
}

.flex-prev-li {
    left: 0;
}

.flex-next-li {
    right: 0;
}

.social-footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.social-image {
    width: 40px;
}

.about-us-footer {
    text-align: center;
    margin: 1rem 0;
}

.about-us-footer span {
    margin-top: 1rem;
    display: inline-block;
    font-size: 0.8rem;
}

.services-section {
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.services-section > div {
    width: 33.333%;
}

.servies-section-title {
    text-decoration: none;
    color: #000;
}

.services-section h4 {
    font-size: 1rem;
    margin: 1rem 0;
}

.services-section p {
    font-size: 0.8rem;
}

.marker {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #ff8f4f;
    border: 2px solid gray;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

/* restaurants */
.restaurants-nav {
    text-align: center;
}

.restaurants-nav li {
    display: inline-block;
    margin: 0 1rem;
    cursor: pointer;
}

.restaurants-nav li:hover {
    text-decoration: underline;
}

.restaurants-images {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    justify-content: center;
}

.restaurants-image {
    width: 333px;
    height: 333px;
    background-color: gray;
    margin: 1rem;
    position: relative;
    cursor: pointer;
    order: 1;
}

.restaurants-image:hover {
    /*opacity: 0.5;*/
}

.restaurants-image:hover > div {
    display: block;
}

.hover-content {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    display: none;
}

.hover-content h6 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 0.5rem;
}

.hover-content p {
    margin-bottom: 1rem;
}

.view-button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #ff8f4f;
    font-size: 14px;
    display: inline-block;
}

.address {
    display: none;
}

.hover-background {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ff8f4f;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.restaurants-images {
    background-size: cover;
    background-position: 50% 50%;
}

.first-photo {
    margin-top: 2rem;
    font-size: 16px;
    color: #ff8f4f;
}

.img-01 {
    background-image: url('../img/food1.jpg');
}

.img-02 {
    background-image: url('../img/food2.jpg');
}

.img-03 {
    background-image: url('../img/food3.jpg');
}

.img-04 {
    background-image: url('../img/food4.jpg');
}

.img-05 {
    background-image: url('../img/food5.jpg');
}

.img-06 {
    background-image: url('../img/food6.jpg');
}

.img-07 {
    background-image: url('../img/food7.jpg');
}

.img-08 {
    background-image: url('../img/food8.jpg');
}

.img-09 {
    background-image: url('../img/food9.jpg');
}

/* Event */

.event-wrap {
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.event-image {
    float: left;
}

.event-image img {
    width: 350px;
}

.event-content {
    margin-left: 350px;
    padding-left: 2rem;
}

.event-date {
    border: 2px solid #ff8f4f;
    display: inline-block;
    width: 80px;
    text-align: center;
    padding: 1.5rem 0;
}

.event-header {
    display: inline-block;
    margin-left: 1rem;
}

.event-header h5 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.event-content-header {
    margin-bottom: 1.5rem;
}

.event-time {
    font-size: 15px;
}

.event-time span {
    color: #ff8f4f;
}

.event-content > p {
    line-height: 150%;
}

.event-checkout {
    display: inline-block;
    margin-top: 1rem;
    font-size: 15px;
}

/* ETC */
.deco-line {
    width: 3rem;
    display: block;
    border-top: 2px solid #ff8f4f;
    margin: 0 auto 1rem;
}

/*ad-bar*/
#ad-bar {
        background-image: url(../img/background2.jpg);
        background-size: 100%;
        height: 200px;
}

.ad-bar-content {
    margin-top: 10%;
    color: #fff;
    font-size: 1.5rem;
    line-height: 150%;
    background-color: black;
}

/*review*/
.review-slider-cover {
    width: 600px;
    height: 275px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

.review-slider img {
    width: 250px;
    height: 250px;
    float: left;
}

.review-slider .review-content {
    width: 250px;
    padding: 0.5rem;
    margin: 2rem auto auto 5rem;
    float: left;
    box-sizing: border-box;
}

.review-slider .flex-control-nav {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}

.review-slider .flex-control-nav li {
    display: inline-block;
}

.review-slider .flex-control-nav li a {
    width: 10px;
    height: 10px;
    background-color: #aeaeae;
    border-radius: 50%;
    display: inline-block;
    text-indent: -9999px;
    margin: 0 1rem;
}

.review-slider .flex-control-nav li a.flex-active {
    background-color: #1e1e1e;
}

.review-slider .flex-direction-nav li {
    display: none;
}

.strong {
    font-weight: bolder;
    font-size: 20px;
    margin: 2rem auto;
}

.review-logo {
    color: #ff8f4f;
}

/*contect*/
.mail {
    margin: 0 auto;
    display: block;
    width: 300px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
.message {
    display: block;
    padding: 0.5rem 1rem;
    width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 1rem;
}

.send-button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    box-sizing: border-box;
}

.name-review {
    margin-top: 1rem;
}

/* Modal */
#modal-wrapper {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#modal {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
}
.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.close-button:after {
    content: '✖';
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
    background-color: #ff8f4f;
    color: #fff;
    cursor: pointer;
}

#footer > p {
    text-align: center;
    padding: 1.5rem;
    font-size: 12px;
}

/* Tablet size */
@media (max-width: 768px) {
    #home {
        margin-top: 51px;
    }

    #home .main-nav {
            font-size: 14px;
    }

    .sticky-nav {
        padding: 1rem;
        height: 50px;
    }

    .home-content > h1 {
        font-size: 1rem;
        font-weight: 800;
    }

    /*about us*/
    .column-2 {
        -webkit-column-gap: 3rem; /* Chrome, Safari, Opera */
        -moz-column-gap: 3rem; /* Firefox */
        column-gap: 3rem;
    }

    .social-image {
        width: 30px;
    }
    /*restaurant*/
    .restaurants-nav {
        font-size: 10px;
    }

    .restaurants-image {
        width: 300px;
    }

    /* event */
    .event-image img {
        width: 350px;
    }

    .event-time {
        font-size: 11px;
    }

    /* Tablet Reviews */
    .review-slider-cover {
        width: 400px;
    }

    .review-slider img {
        width: 200px;
        height: 200px;
    }

    .review-slider .review-content {
        width: 200px;
        margin: 0;
    }

    .review-slider-cover {
        height: 225px;
    }
}

/* Mobile size */
@media (max-width: 580px) {

    #home {
        margin-top: -32px;
    }

    #home .main-nav {
        float: left;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #fff;
        display: none;
        box-shadow: 0 5px 5px 0 rgba(0,0,0, 0.2);
    }

    #home .main-nav li {
        display: block;
        padding: 1rem;
    }

    .home-content > h1 {
        font-size: 0.5rem;
        font-weight: 800;
    }

    .get-started {
        padding: 0.5rem 2rem;
        font-size: 15px;
    }

    .main-nav-wrapper {
        float: left;
        margin-right: 1rem;
    }

    .hamburger-nav {
        color: #ff8f4f;
        display: inline-block;
    }

    /*about us*/
    .column-2 {
        display: none;
    }

    .social-image {
        width: 15px;
    }

    .services-section p {
        display: none;
    }

    /*restaurant*/
    .restaurants-nav {
        display: none;
    }

    .main-section {
        padding: 1rem;
    }

    .main-section header {
        padding-top: 26px;
    }

    #ad-bar {
        height: 128px;
    }


    /*events*/
    .sec-deco-line {
        width: 21rem;
        display: block;
        border-top: 2px solid #ff8f4f;
        margin: 0 auto 3.5rem;
    }

    .event-wrap {
        max-width: 500px;
    }

    .event-content {
        max-width: 500px;
        margin-left: 280px;
    }

    .event-header {
        margin: 0.5rem 0 0 0.5rem;
        font-size: 14px;
    }

    .event-header h5 {
        margin-bottom: 1rem;
        font-size: 13px;
    }

    .event-image img {
        width: 300px;
    }

    .event-checkout {
        display: none;
    }

    .event-date {
        width: 51px;
        padding: 0.5rem 0;
        margin: 1rem 0 3.5rem 1rem;
    }

    .event-content > p{
        display: none;
    }
    .event-time {
        font-size: 10px;
    }

    .event-time span {
        font-size: 10px;
    }

    .ad-bar-content {
        display: none;
    }

}
