@font-face{
    font-family:'Josefin Slab', serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font: normal 1em/1.4em Arial, Arial, Helvetica, sans-serif;
    background-color: #dadada;
}

header {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.4em;
}
h1{
    font-family:'Josefin Slab', serif;
    text-shadow: 4px 4px 4px #aaa;
    font-weight:bold;
    font-size: 60px;
    font-style:oblique;
    color:#921;
}
p1{
    font-family:'Josefin Slab', serif;
    color:#113a64;
}

.mainpage{
    text-align:center;
    margin-top: 50px;
    font-size: 130px;
}


.word-meaning {
    margin-top: 64px;
    font-family:sans-serif;
    font-style:italic;
    text-align: center;
}


#body-container {
    height: 100vh;
    margin: 0 auto;
    width: 1024px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #888;
}

#cherryBlossom-photo {

    background: url('../images/cherryblossomBackground.jpg') no-repeat center center;
    background-size: cover;

}

#musicFestival-photo{
    background: url('../images/musicfestivalBackground.jpg') no-repeat center center;
    background-size:cover;
}

#christmas-photo{
    background: url('../images/christmasBackground.jpg') no-repeat center center;
    background-size:cover;
}

#top-nav {
    position: absolute;
    right: 40px;
    left: 800px;
}

#top-nav .selected {
    color: gray;
}

#top-nav ul li {
    display: inline-block;
    margin: 0 16px;
}

#top-nav a:hover{
    background-color: #f0c2ee;
}

.information{
    height: 100vh;
    margin: 0 auto;
    width: 1024px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #888;

}

.column{
    text-align:justify;
    margin-top:30px;
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -webkit-column-rule-style: dotted;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    font-family:'Josefin Slab', serif;
    color:#113a64;
}


.summer-audio{
    display:none;
}

.images-wrap{
    margin-top: 64px;
    text-align: center;
}


.festival-links {
    opacity: 0.4;
}

.festival-links:hover {
    opacity: 1;
}

.gallery-img-list {
    clear: both;
    padding-top:50px;
    padding-left:45px;
}

.gallery-img-list li {
    float: left;
    margin: 24px 8px;
}

.gallery-img-list img {
    width: 200px;
    padding: 8px;
    background-color: lightgray;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
