/* default style */
body {
    font-family: 'Slabo 27px', serif;
}
a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}
.clearfix::before,
.clearfix::after {
    display: table;
    content: '';
}
.clearfix::after {
    clear: both;
}

/* HEADER */
#top-bar {
    width: 100%;
    background: #e5e6eb;
}

.top-bar-inner {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    padding: 16px;
    font-size: 20px;
    color: #474646;
    display: inline-block;
}

.logo a {
    color: #474646;
}

#top-nav {
    display: inline-block;
    float: right;
}

.menu li {
    padding: 18px 8px;
    display: inline-block;
}

.menu li a {
    color: #474646;
}

.menu li a:hover {
    color: #030438;
    font-weight: bold;
}

.menu li a.selected {
    color: #030438;
    font-weight: bold;
}

/* SECTION */

section a:hover {
    box-shadow: 0 0 2px 1px rgba
    (0, 140, 186, 0.5);
}

.image-wrap {
    max-width: 960px;
    margin: 40px auto;
}

.image-wrap img {
    width: 100%;
    border: 4px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.image-list-wrap {
    max-width: 960px;
    margin: 32px auto;
    display: flex;
    flex-wrap: nowrap;
}

.image-list img {
    width: 100%;
}

#imagewrap {
    max-width: 960px;
    margin: 40px auto;
}

#imagewrap h2 {
    font-size: 50px;
    text-align: center;
    color: #001f42;
    text-decoration: underline;
}

#imagewrap p {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #a9b4c1;
}

#image-grid {
    max-width: 960px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

#image-grid li {
    width: 33.333%;
    position: relative;
}

.img-overlay {
    background-color: #081a2f;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.img-text {
    position: absolute;
    bottom: 32px;
    right: 32px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#image-grid li:hover .img-overlay {
    opacity: 0.8;
}

.grid-img {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #e5e6eb;
	width: 100%;
}

.footer-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 0;
}

#contact-icons {
    float: right;
}

#contact-icons a {
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    font-size: 13px;
    background: #000;
    border-radius: 3px;
    display: inline-block;
}

#contact-icons a::hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #ccddff;
    }

    .logo {
        display: block;
        text-align: center;
    }

    #top-nav {
        display: block;
        float: none;
        text-align: center;
    }

    ul.menu li {
        display: block;
    }

    #image-grid li {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    body {
        background-color: #d6d6c2;
    }

    .logo {
        font-size: 35px;
    }

    .image-list-wrap {
        display: block;
        margin-top: 0px;
    }

    .image-wrap img,
    .image-list img {
        border: 4px solid #fff;
        padding: 10px;
        box-sizing: border-box;
    }

    .image-wrap {
        margin-bottom: 0px;
    }
}
