<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Where I visited </title>

    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

</head>
<body>
    <header id="top-bar">
        <div class="top-bar-inner clearfix">
            <div class="logo">
                <a href="../index.html">Vacation Travel</a>
            </div>
            <nav id="top-nav">
                <ul class="menu">
                    <li>
                        <a href="hongkong.html">HongKong</a>
                    </li>
                    <li>
                        <a href="japan.html">Japan</a>
                    </li>
                    <li>
                        <a class="selected">Jeju</a>
                    </li>
                    <li>
                        <a href="taipei.html">Taipei</a>
                    </li>
                </ul>
            </nav>
        </div>
	</header>

        <section>

    <div id="imagewrap">
        <h2>Jeju travel</h2>
        <p>
            The top 9 things to do in Jeju Island.
        </p>
    </div>
    <ul id="image-grid">
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Jeju pork belly</span>
            <image class="grid-img" src="../image/jeju1.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Family photo</span>
            <image class="grid-img" src="../image/jeju2.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Udo</span>
            <image class="grid-img" src="../image/jeju3.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Sushi Hoshikai</span>
            <image class="grid-img" src="../image/jeju4.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Deoreok Branch School</span>
            <image class="grid-img" src="../image/jeju5.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Sehwa Beach</span>
            <image class="grid-img" src="../image/jeju6.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text"> Hairtail food</span>
            <image class="grid-img" src="../image/jeju7.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Abalone food</span>
            <image class="grid-img" src="../image/jeju8.jpg"></image>
        </li>
        <li>
            <span class="img-overlay"></span>
            <span class="img-text">Camelliahill</span>
            <image class="grid-img" src="../image/jeju9.jpg"></image>
        </li>
    </ul>
        </section>
        <footer>
            <div class="footer-inner clearfix">
                <small class="copyright">Copyright &copy; 2016 Eunjee Kim</small>
    			<div id="contact-icons">
                  	<a href="https://www.facebook.com/Jeeyaholic" class="social_contact">facebook</a>
    			    <a href="https://www.instagram.com/_elainekim" class="social_contact">Instagram</a>
    			    <a href="http://www.google.com"
                  	class="social_contact">Google+</a>
                </div>
            </div>
        </footer>
</body>
</html>
