/* Text */
h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}


/* navigation */
#top-bar {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 10px 0px 5px #888888;
}

#top-bar nav {
    float: right;
}

#top-bar nav span {
    margin: 0 1rem;
}

#top-bar nav a:hover {
    color: #030438;
    font-weight: bolder;;
}

#top-bar nav a.selected {
    color: #030438;
    font-weight: bolder;
}


/* Scene */
.scene {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*scene photo background*/
.scene-one {
    background-image: url("../image/travel1.jpg");
}

.scene-two {
    background-image: url("../image/travel2.jpg");
}

.scene-three {
    background-image: url("../image/travel3.jpg");
}

.scene-four {
    background-image: url("../image/travel4.jpg");
}

.scene-five {
    background-image: url("../image/family1.jpg");
}

.scene-six {
    background-image: url("../image/family2.jpg");
}

.scene-seven {
    background-image: url("../image/family3.jpg");
}

.scene-eight {
    background-image: url("../image/family4.jpg");
}

.scene-nine {
    background-image: url("../image/project1.jpg");
}

.scene-ten {
    background-image: url("../image/project2.jpg");
}

.scene-eleven {
    background-image: url("../image/project3.jpg");
}

.scene-twelve {
    background-image: url("../image/project4.jpg");
    background-size: cover;

}

.scene-captions {
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scene-captions-animation {
    text-align: center;
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: move 4s;
}

@keyframes move {
    from { left: 50% }
}

/* Scene content */
.scene-content-box {
    float: right;
    background-color: #fff;
    width: 50vw;
    height: 94.2vh;
    opacity: 0.8;
    animation: opacity 2s;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

.scene-content-box p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes opacity {
    from { opacity: 0 }
}

/*Home page*/
.textbox {
    width:1024px;
    height: 790px;
}

.image-list .text {
    position: relative;
    bottom: 200px;
    width: 50%;
    padding-left: 53%;
    visibility: hidden;
    color: #fff;
}
.image-list .text p {
    color: #fff;
}

.image-list:hover .text {
    visibility: visible;
}

.image-list img{
    width: 50%;
    float: left;
    background-repeat: no-repeat;
}

.image-list img + .image-list img {
    width: 50%;
    float: left;
}

.image-list img + .image-list img + .image-list img {
    width: 50%;
    float: left;
}

.image-list img + .image-list img + .image-list img + .image-list img {
    width: 50%;
    float: left;
}

.image-background .image-list  img {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
       -moz-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
}

.image-background .image-list:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.footer {
  padding-top: 2px;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media screen and (max-width: 425px) {

.image-list img{
        width: 100%;
        display: inline-block;
    }
  }
