<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body id="cherryBlossom-photo">
    <div class="information">
        <header>
            <h1>
                Cherry Blossom
            </h1>
        </header>
        <p>
            One of DC’s largest spectator events, the energy-filled National Cherry Blossom Festival Parade® presented by Events DC runs for 10 blocks along iconic Constitution Avenue. Giant colorful helium balloons, elaborate floats, marching bands from across the country, celebrity entertainers, and performers burst down the Parade route in a grand spectacle of music and showmanship seen only once a year during the Festival. From the National Archives to the Washington Monument, spectators are wow-ed by the pageantry and excitement that is the nation’s premier springtime parade. Can’t make it to the Parade? Make sure to catch the Washington, DC-area local broadcast on Saturday, April 16 from Noon – 2 PM; station and airing information coming soon. Parade lovers from across the country can watch the one-hour Parade, syndicated nationally in the weeks following the Parade. See National Syndication information below for airing dates and times.
        </p>
    </div>
</id>
</body>
</html>
