<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600,400italic,700italic' rel='stylesheet' type='text/css' >
</head>
<body id="musicFestival-photo">
    <div class="information">
        <audio class="summer-audio" controls autoplay>
            <source src="../audio/summer.mp3" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
            <nav id="top-nav">
                <ul>
                    <li>
                        <a href="../index.html">Main</a>
                    </li>
                    <li>
                        <a href="../views/cherryblossom.html">Cherryblossom</a>
                    </li>
                    <li>
                        <a href="../views/musicfestival.html">Musicfestival</a>
                    </li>
                    <li>
                        <a href="../views/christmas.html">Christmas</a>
                    </li>
                </ul>
            </nav>
        <header>
            <h1>
                Ultra Music Festival
            </h1>
        </header>
        <div class="column">
        <p>
            Ultra Music Festival (UMF) is an annual outdoor electronic music festival that occurs in March in the city of Miami, Florida, United States. The festival, which was founded in 1999 by Russell Faibisch and Alex Omes, is named after the 1997 Depeche Mode album, Ultra.[1] Ultra Music Festival coincides with the annual Winter Music Conference, which is also held in Miami.

            Ultra is held in Downtown Miami in Bayfront Park. It was a one-day festival from 1999 to 2006, a two-day festival from 2007 to 2010, and was a three-day festival in 2011 and 2012. In 2012, a record 155,000 people attended the festival.[2] In 2013, for the first time in festival history, UMF took place across two consecutive weekends. In 2014, the festival returned to a one-weekend format, taking place on Friday, March 28 through Sunday March 30. Presale Tickets went on sale online May 21, 2013 selling out in a matter of seconds; standard priced tickets sold out on the last day before the event.

            Other Ultra festivals are held in Ibiza, Spain; Buenos Aires, Argentina; São Paulo, Brazil; Santiago, Chile; Seoul, South Korea; Cape Town and Johannesburg, South Africa; Split and Hvar, Croatia; Bangkok, Thailand and Tokyo, Japan. In December, 2013 Ultra Worldwide announced to first edition of the festival in Bogotá, Colombia to be held on February 20 & 21 2014. Most recently Ultra announced Road to Ultra Thailand and will be Held at Bitec Bangna convention center on September 26, 2014.

            Although they share names, UMF was not directly tied to Ultra Records, an electronic music record label. However, the two entities did announce a "global alliance" in August 2012, which would allow them to collaborate on marketing and cross-promotion
        </p>
    </div>

    <ul class="gallery-img-list">
        <li>
            <img src="../images/image001.jpg" />
        </li>
        <li>
            <img src="../images/image002.jpg" />
        </li>
        <li>
            <img src="../images/image003.jpg" />
        </li>
        <li>
            <img src="../images/image004.jpg" />
        </li>
        <li>
            <img src="../images/image005.jpg" />
        </li>
    </ul>

    </div>
</id>
</body>
</html>
