#body-container{
	margin:auto;
	width:1000px;
	font-family:sans-serif;;
}


.link{
	font-size:20px;
	background-color:#B6B6B6;
	width:1000px;
	height:30px;
	word-spacing:30pt;
}

.maincontent{
width:1000px;
}


.left-column{
	background-color:#888;
	text-align:left;
	float:left;
	padding:20px;
	width:660px;
}

.right-column{
	background-color:black;
	float:right;
	padding:20px;
	width:260px;
	height:441px;
}

.right-column p{
	color: white;
}


#main-footer {
	background-color:lightgray;
    padding: 40px;
}

#main-footer .copyright {
    font-size: 12px;
}

#top-nav {
	background-color: red;
	width:1000px;
}
#top-nav a {
	padding: 20px 10px;
	display: inline-block;
}

#top-nav .selected {
    color: #fff;
}

#top-nav ul li {
    display: inline-block;
    margin: 0 16px;

}
.logo {
	margin-right:20px;
	padding-bottom:58px;
	padding-left:0px;
	width:260px;
	height:367px;
	float:left;
}
h1 {
	font-weignt:300;
	font-size:30px;
	text-align:center;
}
a:visited {
	color: white;
}
a:hover {
	color: yellow;
}
a:active {
	color:#098884;
}
