html {
    min-height: 100%;
}

body {
    font: normal 1em/1.4em Arial, Arial, Helvetica, sans-serif;
    background-color: #eee;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.4em;
}
h2 {
  font-weight: 500;
font-size: 40px;
line-height: 1.4em;

}

#top-bar {
    padding: 32px 40px;
    background-color: #0C0D0D;
    color: #fff;
    opacity: 0.9;
    position: relative;
}

#top-bar a {
    text-decoration: none;
    color: #fff;
}

#top-nav {
    position: absolute;
    right: 40px;
    bottom: 32px;
}

#top-nav .selected {
    color: gray;
}

#top-nav ul li {
    display: inline-block;
    margin: 0 16px;
}

.title-logo {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: inline-block;
    background-color: #fff;
    margin-right: 8px;
}

.title-logo::before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0C0D0D;
    content: '';
    display: block;
    margin: 4px;
}

.main-content {
    background-color: #fff;
}

.main-content p {
    margin: 32px 0;
}

#main-footer {
    padding: 40px;
}

#main-footer .copyright {
    font-size: 12px;
}

/* find-my-tile */
#find-my-tile {
    background: url('../images/findMyTileBW.jpg') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

#find-my-tile:hover {
    background: url('../images/findMyTile.jpg') no-repeat center center;
    background-size: cover;
    min-height: 500px;
}

#find-my-tile-text {
    text-align: center;
    font-size: 60px;
    line-height: 1.4em;
    padding: 80px;
}

.main-content-inner {
    padding: 40px;
    position: relative;
}

.flex-box {
    display: flex;
}

#how-it-works-slider-wrapper {
    float: left;
    padding: 8px 8px 0 8px;
    background-color: lightgray;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transform: rotate(-5deg);
    position: relative;
    left: 40px;
}

.how-it-works-right-column {
    padding-left: 120px;
    float: left;
}

.how-it-works-list li {
    list-style-type: decimal;
    line-height: 1.4em;
    margin: 24px;
}

.gallery-img-list {
    clear: both;
}

.gallery-img-list li {
    float: left;
    margin: 24px 8px;
}

.gallery-img-list img {
    width: 200px;
    padding: 8px;
    background-color: lightgray;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#shopping-form div {
  margin-bottom: 24px;


}
