<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Eunjee</title>

    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
    <header id="top-bar">
        <a href="../index.html">Home</a>
        <nav>
            <span><a href="travel.html">Travels</a></span>
            <span>Family</span>
            <span><a href="project.html">Artworks</a></span>
        </nav>
    </header>

        <div id="scene-five" class="scene">
            <div class="scene-captions">
                <h2>
                    <a href="family-one.html#scene-five">Parents remind wedding</a>
                </h2>
                <p>Celebrating 25years anniversary for my parents</p>
            </div>
        </div>
        <div id="scene-six" class="scene">
            <div class="scene-captions">
                <h2>
                    <a href="family-two.html#scene-six">Family Photo</a></h2>
                <p>Family is not an important thing. It's everything. -Michael J. Fox</p>
            </div>
        </div>
        <div id="scene-seven" class="scene">
            <div class="scene-captions">
                <h2><a href="family-three.html#scene-seven">Traveling with sister</a></h2>
                <p>We are the best friend each other anyone could ask for</p>
            </div>
        </div>
    <div id="scene-eight" class="scene">
        <div class="scene-captions-animation">
            <h2>Sibling</h2>
            <p>A brother and two sisters</p>
        </div>
        <div class="scene-content-box">
            <p>
                My younger brother is 16-years-old and sister is 21-years-old. I lean havily on my sister and brother. 
            </p>
        </div>
    </div>
</body>
</html>
