<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Eunjee</title>

    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
    <header id="top-bar">
        <a href="../index.html">Home</a>
        <nav>
            <span><a href="travel.html">Travels</a></span>
            <span><a href="family.html">Family</a></span>
            <span>Artworks</a></span>
        </nav>
    </header>

        <div id="scene-nine" class="scene">
            <div class="scene-captions">
                <h2>
                    <a href="project-one.html#scene-nine">Artwork One</a>
                </h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div id="scene-ten" class="scene">
            <div class="scene-captions">
                <h2>
                    <a href="project-two.html#scene-ten">Artwork Two</a></h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div id="scene-eleven" class="scene">
        <div class="scene-captions-animation">
            <h2>Artwork Three</h2>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="scene-content-box">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam blandit imperdiet semper.
                Ut sollicitudin dui eget nibh iaculis, id viverra diam interdum.
                In luctus tristique risus, eu condimentum arcu efficitur eget.
                Praesent placerat ipsum quis lorem blandit placerat.
                Morbi fringilla cursus placerat. Vivamus euismod,
                velit ac rutrum pretium, dolor est tincidunt dolor,
                id volutpat sapien mi in justo. Ut est lorem,
                tempus ut risus vitae, ullamcorper sagittis enim.
                Aliquam elit nibh, varius in ante ut, auctor convallis tortor.
                Mauris molestie, augue sit amet tempus faucibus,
                enim sapien vestibulum nulla, at mollis sem est dapibus augue.
                Ut non posuere dolor. Quisque dictum diam ut ipsum elementum
                ornare. Nullam luctus cursus sollicitudin.
                Etiam ultrices porta convallis.
            </p>
        </div>
    </div>
    <div id="scene-twelve" class="scene">
        <div class="scene-captions">
            <h2><a href="project-four.html#scene-twelve">Artwork four</a></h2>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</body>
</html>
