<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Eunjee</title>

    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
    <header id="top-bar">
        <a>Home</a>
        <nav>
            <span>Travels</span>
            <span>Family</span>
            <span>Artworks</span>
        </nav>
    </header>

        <div class="scene scene-one">
            <div class="scene-captions">
                <h2>
                    <a href="travel-one.html">Travel One</a>
                </h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="scene scene-two">
            <div class="scene-captions">
                <h2>
                    <a href="travel-two.html">Travel Two</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="scene scene-three">
            <div class="scene-captions">
                <h2>Travel Three</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="scene scene-four">
            <div class="scene-captions">
                <h2>Travel four</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
</body>
</html>
