<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Eunjee</title>

    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
    <header id="top-bar">
        <a href="../index.html">Home</a>
        <nav>
            <span class="selected">Travels</span>
            <span><a href="family.html">Family</a></span>
            <span><a href="project.html">Artworks</a></span>
        </nav>
    </header>

    <div id="scene-one" class="scene">
        <div class="scene-captions-animation">
            <h2>Jeju Island</h2>
            <p>Sunrise from Seongsan Ilchulbong Tuff Cone</p>
        </div>
        <div class="scene-content-box">
            <p>
                Jeju Island has beautiful sunrise, also called 'Sunrise Peak'. Seongsan Ilchulbong Tuff Cone is located in eastern seaboard of Jeju Island. Seongsan Ilchulbong is one of the biggest volcano in Jeju Island. In Jeju, there are lots of hydromagmatic volanoes or oreum <strong>Jeju dialect for volcano</strong>.
            </p>
        </div>
    </div>
    <div id="scene-two" class="scene">
        <div class="scene-captions">
            <h2><a href="travel-two.html#scene-two">Hong Kong</a></h2>
            <p>Cable car tour in Hong Kongt</p>
        </div>
    </div>
    <div id="scene-three" class="scene">
        <div class="scene-captions">
            <h2><a href="travel-three.html#scene-three">Phi Phi Island</a></h2>
            <p>Phi Phi Island ocean</p>
        </div>
    </div>
    <div id="scene-four" class="scene">
        <div class="scene-captions">
            <h2><a href="travel-four.html#scene-four">Vancouver</a></h2>
            <p>On the way to English Bay</p>
        </div>
    </div>
</body>
</html>
